---
import Layout from '../layouts/Layout.astro';
import CurrencyConverter from '../components/CurrencyConverter.astro';
import MoneyTransfer from '../components/MoneyTransfer.astro';
---

<Layout>
  <h1>Welcome to Money Transfer</h1>
  <p>Exchange your currency and transfer money easily!</p>
  
  <CurrencyConverter />
  <MoneyTransfer />
</Layout>



